.small-title {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #111111;
}

.text-thin {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  opacity: 60%;
}

.hr-box {
    display: flex;
    justify-content: center;
}

.container-4-hr {
    color: #D8D8D8;
    box-shadow: none;
    min-height: 2px;
    max-width: 1110px;
    width: 100%;
    margin: 0px;
}

.textblock-4 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.textblock-5 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.row { 
    display: flex;
    flex-direction: column;
}

.row-1 {
   max-height: 28px;
}

.row-2 {
    margin-top: 25px; /* had to add margin-top to get the rest of the items aligned with the 
        awwwards/cssdesignawards text, dont know why */
    gap: 160px;
    margin-bottom: 167px;
}

.row-3 {
    margin-top: 25px;
    gap: 80px;
}

.row-3-1 {
    gap: 12px;
}

.row-4 {
    margin-top: 25px;
    gap: 170px;
}