.home-container-2 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 144px;
}  

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 10px;
    grid-template-rows: repeat(32, 1fr);
    grid-row-gap: 10px;
    min-height: 100vh;
    max-width: 1110px;
    width: 100%;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.grid-home-1 {
    grid-column: 1 / span 3; 
    grid-row: 1 / span 7;
}

.grid-home-2 {
    grid-column: 1 / span 3;
    grid-row: 8 / span 8;
}

.grid-home-3 {
    grid-column: 1 / span 3;
    grid-row: 16 / span 8;
}

.grid-home-4 {
    grid-column: 1 / span 3;
    grid-row: 24 / span 9;
}

.grid-home-5 {
    grid-column: 4 / span 3;
    grid-row: 1 / span 6;
}

.grid-home-6 {
    grid-column: 4 / span 3;
    grid-row: 7 / span 7;
} 

.grid-home-7 {
    grid-column: 4 / span 3;
    grid-row: 14 / span 9;
}

.grid-home-8 {
    grid-column: 4 / span 3;
    grid-row: 23 / span 10;
}

.grid-home-9 {
    grid-column: 7 / span 3;
    grid-row: 1 / span 10;
}
.grid-home-10 {
    grid-column: 7 / span 3;
    grid-row: 11 / span 7;
}

.grid-home-11 {
    grid-column: 7 / span 3;
    grid-row: 18 / span 9;
}
    
.grid-home-12 {
    grid-column: 7 / span 3;
    grid-row: 27 / span 6;
} 