.homecontainer-1 {
    display: flex;

}

.textblock-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.purple-text {
    color: #4A4FF2;
}

/*.main-title {

}*/

.textblock-2 {
    display: flex;
    justify-content: flex end;
    align-items: flex-end;
}