.home-container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 70px;
    padding: 0 40px;
}

.container-3-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    max-height: 300px;
    width: 100%;
}

.textblock-3 {
    max-width: 500px;
    margin: 0;
}

.text-bold {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 1.3;
    color: #111111;
    margin: 0;
}

.link-container-3 {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 5px; // text bold cant escape standard margins
}

.linkblock ul {
    padding: 0;
    margin: 0;
}

.linkblock ul li {
    list-style: none;
    margin-bottom: 12px;
}

.stylenav {
    text-decoration: none;
    color: #111111;
    opacity: 0.6;
    font-size: 18px;
}

.stylenav:hover {
    opacity: 1;
}
