.small-title {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #111111;
}

.text-thin {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  opacity: 60%;
}

.hr-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hr {
    color: #D8D8D8;
    box-shadow: none;
    min-height: 1px;
    max-width: 1110px;
    width: 100%;
    margin: 0px;
}

.textblock-4, .textblock-5 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.row { 
    display: flex;
    flex-direction: column;
}

.row-1 {
   max-height: 28px;
   margin: 0;
}

.row-2 {
    gap: 130px;
}

.row-3 {
    gap: 80px;
}

.row-3-1 {
    gap: 12px;
}

.row-4 {
    gap: 130px;
}

.text-bold, .bold, .small-title {
    margin: 0px;
}