.text-bold {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}

.links-container-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/*
.linkblock-1 {

}

.linkblock-2 {

}

.colornav {

}