.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 60px;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  margin: 0;
  padding: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  padding: 0;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin-bottom: 25px;
}

.text-bold {
  font-size: 28px;
}

.bold {
  font-weight: 700;
}

.text-bold,
.bold {
  display: inline-block;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.2;
  text-decoration: none;
  color: #111111;
  margin: 0;
  padding: 0;
}

.footer-container {
  margin-top: 114px;
  margin-bottom: 96px;
  margin-left: 126px;
  margin-right: 125px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  max-width: 1110px;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  padding: 0;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin-bottom: 25px;
}

.text-bold {
  font-size: 28px;
}

.bold {
  font-weight: 700;
}

.text-bold,
.bold {
  display: inline-block;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.2;
  text-decoration: none;
  color: #111111;
  margin: 0;
  padding: 0;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15px;
  max-width: 100px;
  width: 100%;
}

.fa-brands {
  transform: scale(1.5);
}

.main-title {
  font-size: 40px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.text-thin {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  opacity: 60%;
}

.c-container-1 {
  max-width: 1110px;
  width: 100%;
  margin-left: 125px;
  margin-right: 125px; /* margin right doesnt work */
}

.c-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1110px;
  width: 100%;
  margin-right: 125px; /* margin right doesnt work */
}

.c-textblock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 255px;
  max-width: 475px;
  width: 100%;
  margin-right: 160px;
  flex: 1;
}

.form {
  min-height: 291px;
  max-width: 475px;
  width: 100%;
  flex: 1;
}

.input-style {
  width: 100%;
  border: none;
  outline: none;
  margin-bottom: 46px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.btn-container {
  max-width: 125px;
  width: 100%;
  min-height: 50px;
}

.btn {
  max-width: 125px;
  width: 100%;
  min-height: 50px;
  color: white;
  background-color: #4A4FF2;
  outline: none;
  border: none;
}

.btn:hover {
  transition: 0.5s;
  background-color: #393ed0;
}

.map-image {
  height: 570px;
  max-width: 1110px;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 110px;
}