@import '../header'; 
@import '../footer';

.main-title {
    font-size: 40px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    margin-top: 0px;
}

.text-thin {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  opacity: 60%;
}

.container-1 {
    max-width: 1010px;
    width: 100%;
    padding: 0 100px;
} 

.block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1110px;
    width: 100%;
}

.textblock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 255px;
    max-width: 475px;
    width: 100%;
    margin-right: 100px;
    flex: 1;
}

.form {
    min-height: 290px;
    max-width: 430px;
    width: 100%;
    flex: 1;
}

.input-style {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 46px;
    border-bottom: 1px solid rgba($color: #979797, $alpha: 0.3);
}

.btn-container {
    max-width: 125px;
    width: 100%;
    min-height: 50px;
}

.btn {
    max-width: 125px;
    width: 100%;
    min-height: 50px;
    color: white;
    background-color: #4A4FF2;
    outline: none;
    border: none;
}

.btn:hover {
    transition: 0.5s;
    background-color: #393ed0;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.map {
    max-width: 990px;
}