@import '../header'; 
@import '../footer';

.main-title {
    font-size: 40px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

.text-thin {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  opacity: 60%;
}
/*
.c-container-1 {
    max-width: 1110px;
    width: 100%;
} */
.c-textblock {
    display: flex;
    justify-content: flex-start;
    min-height: 255px;
    max-width: 475px;
    width: 100%;
}