.footer {
    min-height: 30px;
    max-width: 1109px;
    width: 100%;
    margin-top: 61px;
    margin-bottom: 96px;
    margin-left: 126px;
    margin-right: 125px;
} /* nothing happens when i remove this */

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 25px;
}

.text-bold {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    /*width: 100%;*/
}

.nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav ul li {
    min-height: 23px;
    max-width: 67px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-right: 29px;
}

.boldnav {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #111111;
    text-decoration: none;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    max-width: 300px;
    /* width: 100%; */
} /* code from other project */

.fa-brands {
  transform: scale(1.5);
} /* code from other project */