.footer-container {
    margin-top: 114px;
    margin-bottom: 96px;
    margin-left: 126px;
    margin-right: 125px; 
} 

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    max-width: 1110px;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    padding: 0;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin-bottom: 25px; // to escape default style
}

.text-bold {
    font-size: 28px;
}

.bold {
    font-weight: 700;
}

.text-bold,
.bold {
    display: inline-block;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    ;
    font-optical-sizing: auto;
    line-height: 1.2;
    text-decoration: none;
    color: #111111;
    margin: 0;
    padding: 0;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15px;
    max-width: 100px;
    width: 100%; 
} 

.fa-brands {
  transform: scale(1.5);
} 