.footer {
    margin-top: 114px;
    margin-bottom: 96px;
    margin-left: 126px;
    margin-right: 125px; 
} 

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    max-width: 1110px;
    width: 100%;
}

.logo {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 25px;
}

.text-bold {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}

.nav {
    display: flex;
    align-items: center;
    max-height: 30px;
    margin-top: 10px; /* i dont know why but i need this for the nav to be on the same horizontal level as the rest of the footer items */
    margin-right: 95px;
} 

.nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav ul li {
    min-height: 23px;
    max-width: 67px;
    width: 100%;
    list-style-type: none;
    margin-right: 29px;
}

.boldnav {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #111111;
    text-decoration: none;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15px;
    max-width: 100px;
    width: 100%; 
} 

.fa-brands {
  transform: scale(1.5);
} 