.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 0;

}

.header {
  max-width: 992px;
}

/* .header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 50px;
    width: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
  max-width: 100px;
}

.nav {
  max-width: 300px;
  margin: 0;
  padding: 0;
}

.nav ul {
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-bold {
  font-size: 28px;
}
.bold {
  font-weight: 700;
  margin-bottom: 30px;
}

.text-bold, .bold {
  display: inline-block;
  font-family: "Mulish", sans-serif;
  font-style: normal;;
  font-optical-sizing: auto;
  line-height: 1.2;
  text-decoration: none;
  color: #111111;
  margin: 0;
  padding: 0;
} */