/* write code here instead of index.css */
/* link every sass file to this file for them to work = partials ? */

@import 'header'; 
@import 'home-styles/main'; 
@import 'home-styles/home-container-1';
@import 'home-styles/home-container-2';
@import 'home-styles/home-container-3';
@import 'home-styles/home-container-4';
@import 'footer';