.header {
  min-height: 30px;
  max-width: 1109px;
  width: 100%;
  margin-top: 61px;
  margin-bottom: 96px;
  margin-left: 126px;
  margin-right: 125px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 25px;
}

.text-bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  width: 100%;
}

.nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.nav ul li {
  min-height: 23px;
  max-width: 67px;
  width: 100%;
  list-style-type: none;
  margin-right: 29px;
}

.boldnav {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #111111;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.footer {
  margin-top: 114px;
  margin-bottom: 96px;
  margin-left: 126px;
  margin-right: 125px;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  max-width: 1110px;
  width: 100%;
}

.logo {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 25px;
}

.text-bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}

.nav {
  display: flex;
  align-items: center;
  max-height: 30px;
  margin-top: 65px;
  margin-right: 95px;
} /* had to add margin top to get the navs vertically centered with the rest of the items */
.nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.nav ul li {
  min-height: 23px;
  max-width: 67px;
  width: 100%;
  list-style-type: none;
  margin-right: 29px;
}

.boldnav {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #111111;
  text-decoration: none;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15px;
  max-width: 100px;
  width: 100%;
}

.fa-brands {
  transform: scale(1.5);
}

.main-title {
  font-size: 40px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.text-thin {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  opacity: 60%;
}

.boldnav {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #111111;
  -webkit-text-decoration: 0;
          text-decoration: 0;
} /* ive realised i shouldve named this class something else without "nav" in the name, 
cause ive used it in many more places than the nav, but now its too messy to go back and change it everywhere
 (i shouldve planned ahead better) */
.gray-bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #111111;
  opacity: 50%;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

/* big container */
.p-container-1 {
  display: flex;
  flex-direction: row;
}

.p-textblock-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 126px;
}

.p-textblock-1-1 {
  min-height: 130px;
  max-width: 495px;
  width: 100%;
}

.p-textblock-1-2 {
  min-height: 222px;
  max-width: 635px;
  width: 100%;
}

.p-textblock-2 {
  display: flex;
  flex-direction: row;
  min-height: 343px;
  max-width: 335px;
  width: 100%;
}

.p-row-1 {
  justify-content: space-between;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
}