.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  max-width: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 100%;
  padding: 0px 100px 0px 100px;
}

.logo {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 25px;
}

.text-bold {
  font-style: normal;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav ul li {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 700;
  font-style: normal;
  margin-top: 30px;
}

.text-bold, .bold {
  display: inline-block;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.2;
  text-decoration: none;
  color: #111111;
}

.footer {
  margin-top: 114px;
  margin-bottom: 96px;
  margin-left: 126px;
  margin-right: 125px;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  max-width: 1110px;
  width: 100%;
}

.logo {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 25px;
}

.text-bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}

.nav {
  display: flex;
  align-items: center;
  max-height: 30px;
  margin-top: 10px; /* i dont know why but i need this for the nav to be on the same horizontal level as the rest of the footer items */
  margin-right: 95px;
}

.nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.nav ul li {
  min-height: 23px;
  max-width: 67px;
  width: 100%;
  list-style-type: none;
  margin-right: 29px;
}

.bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #111111;
  text-decoration: none;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15px;
  max-width: 100px;
  width: 100%;
}

.fa-brands {
  transform: scale(1.5);
}

.main-title {
  font-size: 40px;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.text-thin {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  opacity: 60%;
}

.bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #111111;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.gray-bold {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #111111;
  opacity: 50%;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

/* big container */
.p-container-1 {
  display: flex;
  flex-direction: row;
}

.p-textblock-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 126px;
}

.p-textblock-1-1 {
  min-height: 130px;
  max-width: 495px;
  width: 100%;
}

.p-textblock-1-2 {
  min-height: 222px;
  max-width: 635px;
  width: 100%;
}

.p-textblock-2 {
  display: flex;
  flex-direction: column;
  min-height: 343px;
  max-width: 335px;
  width: 100%;
  margin-left: 139px;
}

.p-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(216, 216, 216, 0.5);
}

.p-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-image {
  max-width: 1110px;
  width: 100%;
  margin-top: 61px;
}

.p-textblock-3 {
  max-width: 1110px;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 132px;
}