@import '../header'; 
@import '../footer';

.header-container, .footer-container {
    max-width: 100vw;
}

.main-title {
    font-size: 40px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

/* big container */
.container-1 {
    display: flex;
    flex-direction: row;
}

.textblock-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 126px;
}

.textblock-1-1 {
    min-height: 130px;
    max-width: 495px;
    width: 100%;
}

.textblock-1-2 {
    min-height: 222px;
    max-width: 635px;
    width: 100%;
}

.textblock-2 {
    display: flex;
    flex-direction: column;
    min-height: 343px;
    max-width: 335px;
    width: 100%;
    margin-left: 139px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    border-bottom: 1px solid rgba($color: #D8D8D8, $alpha: 0.5)
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big-image {
    max-width: 1110px;
    width: 100%;
    margin-top: 61px;
}

.textblock-3 {
    max-width: 1110px;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
    margin-top: 45px;
}

// text style

.text-bold {
    font-size: 28px;
}

.bold {
    font-weight: 700;
}

.text-bold,
.bold {
    display: inline-block;
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    line-height: 1.2;
    text-decoration: none;
    color: #111111;
    margin: 0;
    padding: 0;
}

.text-thin {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
  opacity: 60%;
}

.gray-bold {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #111111;
    opacity: 50%;
    text-decoration: 0;
}